---
import Image from "astro/components/Image.astro";
import image1 from "../../../public/img/gallery-1.jpg";
import image2 from "../../../public/img/gallery-2.jpg";
import image3 from "../../../public/img/gallery-3.jpg";
import image4 from "../../../public/img/gallery-4.jpg";
import image5 from "../../../public/img/gallery-5.jpg";
import image6 from "../../../public/img/gallery-6.jpg";
---

<article class="gallery__container">
  <div class="row">
    <div class="secondary">
      <Image
        src={image1}
        alt="Imagenes de la estación"
        width="544"
        loading="lazy"
      />
    </div>
    <div class="primary">
      <Image
        src={image2}
        alt="Imagenes de la estación"
        width="653"
        loading="lazy"
      />
    </div>
    <div class="secondary">
      <Image
        src={image3}
        alt="Imagenes de la estación"
        width="544"
        loading="lazy"
      />
    </div>
  </div>
  <div class="row">
    <div class="secondary">
      <Image
        src={image4}
        alt="Imagenes de la estación"
        width="544"
        loading="lazy"
      />
    </div>
    <div class="primary">
      <Image
        src={image5}
        alt="Imagenes de la estación"
        width="653"
        loading="lazy"
      />
    </div>
    <div class="secondary">
      <Image
        src={image6}
        alt="Imagenes de la estación"
        width="544"
        loading="lazy"
      />
    </div>
  </div>
</article>

<style lang="scss">
  @import "../../styles/_mediaqueries.scss";

  .gallery__container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    @include media-up(mobile) {
      width: 95%;
      margin: 5rem auto;
    }

    .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      .primary,
      .secondary {
        width: 100%;
        border-radius: 8px;
        overflow: hidden;
      }
      .primary {
        max-width: 500px;
      }
      .secondary {
        max-width: 400px;
      }

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 8px;
        aspect-ratio: 16 / 9;
        transition: transform 0.7s ease-in-out;

        &:hover {
          transform: scale(1.1);
        }
      }
    }

    .row:nth-child(1) {
      padding-right: 1rem;
    }

    .row:nth-child(2) {
      padding-left: 1rem;
      // align-self: flex-end;
    }

    @include media-up(mobile) {
      .row:nth-child(1) {
      padding-right: 0;
    }

    .row:nth-child(2) {
      padding-left: 0;
      // align-self: flex-end;
    }
    }
  }
</style>
