---
import Image from "astro/components/Image.astro";

import type { PromotionData } from "../models/promotion.interfaces";


interface Props {
  promotionsData: PromotionData[];
}

const { promotionsData } = Astro.props;

const convertToISO = (dateString: string) => {
  const [day, month, year] = dateString.split("/");
  return `${year}-${month}-${day}`;
};

const isPromotionActive = (active_from: string, active_to: string) => {
  const currentDate = new Date();
  const fromDate = new Date(convertToISO(active_from));
  const toDate = active_to ? new Date(convertToISO(active_to)) : null;

  if (toDate) {
    return currentDate >= fromDate && currentDate <= toDate;
  } else {
    return currentDate >= fromDate;
  }
};
---

<div class="promotionsGrid__container">
  <div class="cards__container">
    {
      promotionsData.map((promotion) => (
        <a
          href={promotion?.url}
          class="promotion__card"
          target="_blank"
          rel="noopener noreferrer"
        >
          <Image src={promotion?.image} alt="Promocion" width="200" height="200" />
          <div class="promotion__text">
            <h3>{promotion?.title}</h3>
            <div
              class={`badge ${isPromotionActive(promotion.active_from, promotion.active_to) ? "active" : "inactive"}`}
            >
              {isPromotionActive(promotion.active_from, promotion.active_to)
                ? "Vigente"
                : "No vigente"}
            </div>
          </div>
        </a>
      ))
    }
  </div>
</div>

<style lang="scss">
  .promotionsGrid__container {
    width: 95%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    .cards__container {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      grid-auto-rows: auto;
      gap: 1rem;
      padding: 1rem 0;
      margin: 0 auto;

      .promotion__card {
        position: relative;
        width: 100%;
        height: 350px;
        color: white;
        border-radius: 8px;
        overflow: hidden;
        background-color: #202020;
        transition: all 0.3s;

        img {
          width: 100%;
          height: 220px;
          object-fit: cover;
        }

        .promotion__text {
          width: 100%;
          padding: 1rem;
          height: 120px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;
          gap: 1rem;
        }

        h3 {
          font-size: clamp(0.5rem, 3vw, 1rem);
          font-weight: bold;
        }

        &:hover {
          background-color: #2a2b2b;
        }

        .badge {
          // position: absolute;
          // top: 10px;
          // left: 10px;
          display: inline-block;
          padding: 0.5rem 1rem;
          border-radius: 5px;
          font-size: 0.8rem;
          font-weight: bold;
        }

        .badge.active {
          background-color: #28a745;
          color: #fff;
        }

        .badge.inactive {
          background-color: #dc3545;
          color: #fff;
        }
      }
    }
  }
</style>
