---
import Image from "astro/components/Image.astro";

import type { PromotionData } from "../models/promotion.interfaces";

interface Props {
  promotionsData: PromotionData[];
}

const { promotionsData } = Astro.props;
---

<div class="promotionsGrid__container">
  <div class="cards__container">
    {
      promotionsData.map((promotion) => (
        <div class="promotion__card" style={`background-color: ${promotion?.color}`}>
          <div class="promotion__text">
            <div class="promotion__percent">{promotion?.percent}</div>
            
            <h3 class="promotion__title">{promotion?.title}</h3>
            
            <p class="promotion__description">{promotion?.description}</p>
            
            <span class="promotion__badge">{promotion?.badge}</span>

            <span class="promotion__date">{promotion?.date}</span>
          </div>

          <div class="promotion__image">
            <img src={promotion?.image} alt={promotion?.title} loading="lazy" />
          </div>
        </div>
      ))
    }
  </div>
</div>

<style lang="scss">
  .promotionsGrid__container {
    width: 95%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    .cards__container {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      grid-auto-rows: auto;
      gap: 1rem;
      padding: 1rem 0;
      margin: 0 auto;

      .promotion__card {
        position: relative;
        width: 100%;
        // height: 350px;
        color: white;
        border-radius: 8px;
        background-color: #202020;
        transition: all 0.3s;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        margin-top: 3rem;

        .promotion__text {
          min-height: 211px;
          padding: .5rem;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          text-align: center;
          gap: .5rem;
        }

        .promotion__percent {
          position: absolute;
          top: 0;
          left: 50%;
          transform: translate(-50%, -50%);
          font-weight: bold;
          background-color: #0f38e8;
          padding: 1rem;
          font-size: 3rem;
          border-radius: 8px;
          z-index: 1;
          font-weight: bold;
        }

        .promotion__title {
          font-size: clamp(0.5rem, 3vw, 1.7rem);
          padding-top: 3rem;
        }

        .promotion__description {
          font-size: clamp(0.5rem, 3vw, .9rem);
        }

        .promotion__badge {
          font-size: clamp(0.5rem, 3vw, .8rem);
          outline: 1px solid white;
          padding: 0.4rem .9rem;
          border-radius: 4px;
        }

        .promotion__date {
          font-size: clamp(0.5rem, 3vw, .8rem);
        }

        .promotion__image {
          width: 100%;
          height: 70px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: aliceblue;
          border-radius: 0 0  8px 8px;

          img {
            width: 100px;
            height: 100%;
            mix-blend-mode: multiply;
          }
        }

        &:hover {
          background-color: #2a2b2b;
        }
      }
    }
  }
</style>
