---
import { db, like, Oils } from "astro:db";
import Atropos from "../../common/components/Atropos.astro";
import Layout from "../../layouts/Layout.astro";

export function getStaticPaths() {
  return [
    { params: { category: "mineral" } },
    { params: { category: "semisintetico" } },
    { params: { category: "sintetico" } },
    { params: { category: "hidraulico" } },
    { params: { category: "all" } },
    { params: { category: "elaion" } },
    { params: { category: "ypf" } },
  ];
}

interface Oil {
  id: number;
  name: string;
  type: string;
  goo: string;
  brand: string;
  image: string;
  url: string;
}

let oils: Oil[] = [];

let category = Astro.params.category;

async function getOilsByCategory(category: string) {
  return (oils = await db
    .select()
    .from(Oils)
    .where(like(Oils.type, `${category}`)));
}
async function getOilsByBrand(category: string) {
  return (oils = await db
    .select()
    .from(Oils)
    .where(like(Oils.brand, `${category}`)));
}

if (category === "all") {
  oils = await db.select().from(Oils);
} else if (category === "ypf" || category === "elaion") {
  await getOilsByBrand(category);
} else {
  await getOilsByCategory(category);
}
---

<Layout title="Lubricantes">
  <section class="oil__container">
    <div class="oil__content">
      <article class="nav__container">
        <h2>Marcas</h2>
        <ul>
          <li>
            <a href="/oil/elaion" class={category === "elaion" ? "active" : ""}
              >Elaion</a
            >
          </li>
          <li>
            <a href="/oil/ypf" class={category === "ypf" ? "active" : ""}>YPF</a
            >
          </li>
        </ul>

        <h2>Tipo</h2>
        <ul>
          <li>
            <a href="/oil/all" class={category === "all" ? "active" : ""}
              >Todos</a
            >
          </li>
          <li>
            <a
              href="/oil/sintetico"
              class={category === "sintetico" ? "active" : ""}>Sintético</a
            >
          </li>
          <li>
            <a
              href="/oil/mineral"
              class={category === "mineral" ? "active" : ""}>Mineral</a
            >
          </li>
          <li>
            <a
              href="/oil/semisintetico"
              class={category === "semisintetico" ? "active" : ""}
              >Semisintético</a
            >
          </li>
          <li>
            <a
              href="/oil/hidraulico"
              class={category === "hidraulico" ? "active" : ""}>Hidráulico</a
            >
          </li>
        </ul>
      </article>

      <article class="card__container">
        {
          oils?.map(({ name, image, brand, goo, type, id, url }) => (
            <>
              <Atropos
                src={image}
                alt="Lubricantes"
                className={"my-atropos-" + id}
                loading="lazy"
                name={name}
                type={type}
                goo={goo}
                brand={brand}
                url={url}
              />
            </>
          ))
        }
      </article>
    </div>
  </section>
</Layout>

<style lang="scss">
  @import "../../styles/_variables.scss", "../../styles/_mediaqueries.scss";

  .oil__container {
    width: 100%;
    min-height: 100vh;
    background-color: $black-color;

    .oil__content {
      width: 95%;
      max-width: $max-width;
      min-height: 100vh;
      margin: 0 auto;
      display: flex;
      gap: 1rem;
      padding: 6rem 0;
      // flex-wrap: wrap;
      @include media-up(mobile) {
        flex-wrap: wrap;
      }

      .nav__container {
        width: 100%;
        max-width: 200px;
        height: clamp(300px, 50vh, 400px);
        background-color: rgba(62, 62, 62, 0.3);
        color: $white-color-secondary;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        // align-items: center;
        flex-grow: 1;
        padding: 1rem;
        border-radius: 8px;

        @include media-up(mobile) {
          text-align: center;
          max-width: none;
        }

        ul {
          width: 100%;
          max-width: 300px;
          margin: 0 auto;
          display: flex;
          flex-direction: column;
          // padding-top: 1rem;
          padding-bottom: 1rem;
          gap: 0.3rem;
          text-align: left;
          li {
            background-color: rgba(62, 62, 62, 0.3);
            border-radius: 4px;
            padding: .5rem;
            .active {
              opacity: 1;
            }
            a {
              padding: 0.3rem;
              font-weight: bold;
              opacity: 0.8;
              color: $white-color-secondary;
              
            }
            &:hover {
              cursor: pointer;
              background-color: rgba(62, 62, 62, 0.5);
              a {
                opacity: 1;
              }
            }
          }
        }
      }

      .card__container {
        width: 100%;
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      }
    }
  }
</style>
